@font-face
    font-family Montserrat
    src url('./Montserrat-Regular.ttf')
    font-weight normal

@font-face
    font-family Montserrat
    src url('./Montserrat-Light.ttf')
    font-weight 300

@font-face
    font-family AwesomeIcon
    src url('./FontAwesome.otf')
